.login_form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 100px 100px 100px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: #051;

    width: fit-content;
    height: fit-content;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 20px 0;
}

.fields > .field {
    width: 100%;
    display: grid;
}

.fields > .field > input {
    padding: 2px;
}

.login_form > .action {
    width: 100%;
}

.login_form > .action > button {
    width: 100%;
}